* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --twitter-blue: #1da1f2;
}

body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font: 400 1rem "Roboto", sans-serif;
  /* REM -> 16px serve para, ao usuário aumentar ou diminuir a tela nas opções de acessibilidade, as fontes acompanham. Em px ficaria estático.*/
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
